<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Show</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-white">
    <div class="container mt-3">
        <a class="btn btn-warning float-right mt-2 mx-2" href="/dashboard">Dashboard</a>
        <a class="btn btn-danger float-right mt-2" href="/logout">Logout</a>

        <h1 class="text-center mt-2">Create New Wine Tasting!</h1>
        {% with messages = get_flashed_messages() %}
        <!-- declare a variable called messages -->
        {% if messages %}
        <!-- check if there are any messages -->
        {% for message in messages %}
        <!-- loop through the messages -->
        <p class="text-warning">{{message}}</p>
        <!-- display each message in a paragraph tag -->
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/create_wine" method="post" class="border border-dark rounded p-3 bg-light m-2 shadow-lg mt-5 ">
            <input type="hidden" value="{{ sommelier_id }}" name="sommelier_id">
            <div class="mb-3">
                <label for="name" class="form-label">Wine Name:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="type" class="form-label">Wine Type:</label>
                <input type="text" class="form-control" id="type" name="type">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Wine Age:</label>
                <input type="number" class="form-control" id="age" name="age">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Palate Description:</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
                <button type="submit" class="btn btn-success text-white border border-dark shadow">Create
                    Tasting!</button>
        </form>


    </div>
</body>

</html>